$primary: #c28549; // orange
$secondary: #2f2f2f; //dark - gray
$link: #bdbebf; // link gray
$white-color: #fff;
$gray: #545454;
$red: #f23d3d;

// screen sizes
$screen_1920: 1920px;
$screen_1919: 1919px;
$screen_1440: 1440px;
$screen_1366: 1366px; 
$screen_767: 767px;


// First screen
$header_bg: #fec63d;
$primary_black:#000;
$border_bottom: 2px solid #ccc;
$border-radius: 10px;
$multi_bd:linear-gradient(90deg, rgba(254,240,7,1) 12%, rgba(254,198,59,1) 51%);
$border-radius-btn: 20px;
$box-shadow:3px 4px 8px #888888;